/* Sets background image and font as well as centering the content using flex-box */
body {
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Centers the content using flex-box. Adds a gap between the contents 
   and margin and padding to the whole container. */
.center {
    padding: 50px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 128px;
    height: 360px;
}

/* Creates a glassy background and applies box-shadow as well */
.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}

/* Sets the width of each column  */
.column {
    width: 200px;
}

/* ❗️These styles are not mandatory, but improves the layout of the form items */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Adds a dashed border and some padding to the div's */
div .dashed {
    border-style: dashed;
    padding: 10px;
}

/* Sets the font-size of the label inside the form */
form label {
    font-size: small;
}