body {
    background-image: url(./assets/bg-image.jpg);
    background-size:2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    padding: 50px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}

.col-wrapper {
    display: flex;
    gap: 128px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div .dashed {
    border-style: dashed;
    padding: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-group label {
    font-size: small;
}